body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    height: 5%;
}

.sidebar-navbar {
    background-color: #333;
    color: white;
    position: absolute;
    left: 0;
    overflow-y: auto;
    width: 200px;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-top: 0;
}

.tasks-section,
.exercises-section,
.students-section {
    flex: 1;
    min-width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.toggle-sidebar-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.option-button,
.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.option-button:hover,
.logout-button:hover {
    opacity: 0.8;
}

.option-button {
    margin: 1rem;
    background-color: #007bff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #7c7b7b;
}

.input-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 25px;
    background: #f0f0f0;
    border-radius: 6px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  }