body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    height: 5%;
}

.sidebar-navbar {
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 200px;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.move-right {
    transform: translateX(200px);
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-top: 0;
}

.tasks-section,
.exercises-section,
.students-section {
    flex: 1;
    min-width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.toggle-sidebar-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.option-button,
.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.option-button:hover,
.logout-button:hover {
    opacity: 0.8;
}

.option-button {
    margin: 1rem;
    background-color: #007bff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #7c7b7b;
}

.grade-select {
    margin: 2%;
}

.input-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 25px;
    background: #f0f0f0;
    border-radius: 6px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.tasks-section table,
.exercises-section table,
.students-section table {
    width: 100%;
    border-collapse: collapse;
}

.tasks-section th,
.exercises-section th,
.students-section th {
    background-color: #74a5da;
    color: #fff;
    font-weight: bold;
    padding: 8px;
}

.tasks-section td,
.exercises-section td,
.students-section td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.tasks-section tbody tr:nth-child(even),
.exercises-section tbody tr:nth-child(even),
.students-section tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tasks-section tbody tr:hover,
.exercises-section tbody tr:hover,
.students-section tbody tr:hover {
    background-color: #ddd;
}